
h1  {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  width: 100%;
}

@media screen and (max-width: 650px){
  h1 {
      font: 600 1.5em 'Raleway', sans-serif;
      color: rgba(0,0,0,.5);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-size: 1.2em;
      width: 100%;
  }
}